@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

a { color:white } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:brown; }
a:hover, a:active { text-decoration: none; color:black }
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(-45deg, #5B5C50  , #1B1E1E, #C2AD90, #E4DCC0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.wrapper{
    margin: auto;
    min-height: 1850px;
    height: auto;
    border:1px solid #000;
    width: 60%;
    height: 1000px;
    background-color: #9DA993;
    z-index: 2;
 }

/* start burger */

.container-background > *, .container-background > *:after, .container-background > *:before{
  position: absolute;
}
.container-background > *:after, .container-background > *:before {
  content:'';
}
.container-background {
  position: relative;
  width: 0%;
  height: 0%;
  margin: auto;
  top: 180px;
  right: 680px;
  animation: horizontally 10s ease-in-out infinite;
  
}
@keyframes horizontally {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(900px);
  }
  100%{
    transform: translateX(0);
  }
}
.bread-background{
  width: 170px;
  height: 55px;
  top: 88px;
  left: 150px;
  background: #df7b30;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.bread-background:after{
  width: 100%;
  height: 30px;
  top: 140px;
  background: #df7b30;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.sesame-background{
  width: 100%;
  height: 100%;
  background-image:radial-gradient(#f3d9b1 5%, transparent 6%),
  radial-gradient(#f3d9b1 5%, transparent 6%);
  background-size: 40px 30px;
  background-position: 10px 0px, 30px 15px;
}
.meat-background{
  width: 160px;
  height: 25px;
  top: 200px;
  left: 155px;
  background: #492f16;
  border-radius: 50px;
}
.lettuce-background{
  width: 150px;
  height: 15px;
  top: 183px;
  left: 160px;
  background: #88b538;
  border-radius: 50px;
}
.cheese-background{
  width: 160px;
  height: 15px;
  top: 165px;
  left: 155px;
  background: #e6af00;
  border-radius: 50px;
}
.melting-cheese-background{
  width: 15px;
  height: 25px;
  background: #e6af00;
  top: 165px;
  left: 185px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: melt 4s ease-in-out infinite;
}
.melting-cheese-background:after{
  width: 100%;
  height: 150%;
  background: #e6af00;
  left: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@keyframes melt {
  0% {
    height: 0px;
  }
  50%{
    height: 40px;
  }
  100%{
    height: 0px;
  }
}
.onion-background{
  width: 150px;
  height: 15px;
  top: 147px;
  left: 160px;
  background: #822e81;
  border-radius: 50px;
}
.onion-background:before{
  width: 13%;
  height: 100%;
  left: 30px;
  background: #fff;
  opacity: 0.4;
}
.onion-background:after{
  width: 13%;
  height: 100%;
  left: 80px;
  background: #fff;
  opacity: 0.4;
}
/* end burger*/

 .logo {
    width:150px;
    height:100px;
    margin-left: 475px;
}
.logo-font{
  position: absolute;
  left:950px;
  top:130px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  
}


/*Plant Start*/
.cartoon {
  position: absolute;
  top: 50px;
  left: 780px;
  width: 20%;
  height: 30%;
}

.cartoon div {
  position: absolute;
  display: block;
}

.b {
  border: 1px solid black;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}

/****/


.plant {
  width: 50px;
  height: 120px;
  left: 133px;
  top: 10px;
  transform: translate(-93%, 1%);
  box-shadow: 2vmin 0 0 -1.5vmin, 3.5vmin 0 0 -1vmin green, 4vmin 0 0 -1vmin;
}

.leave {
  width: 50px;
  height: 40px;
  background: green;
  border-radius: 100% 0% 100%;
}
.leave-1 {
  top: 30px;
  left: 90px;
  border-right-width: 0.5vmin;
  border-top-width: 0.33vmin;
  background-image: radial-gradient(at -10% 110%, #ff04, green 60%);
  background-image: radial-gradient(at 110% -10%, #ff04, green 60%);
  border-right-width: 0.6vmin;
  border-top-width: 0.6vmin;
  animation: move_1 2s ease-in-out infinite;
}
.leave-2 {
  top: 60px;
  left: 150px;
  border-right-width: 0.5vmin;
  border-top-width: 0.33vmin;
  background-image: radial-gradient(at -10% 110%, #ff04, green 60%);
  animation: move_2 2s ease-in-out infinite;
}

@keyframes move_1{
  0%   {transform: rotate(60deg);}
  50% {transform: rotate(40deg);}
  100% {transform: rotate(60deg);}
}
@keyframes move_2{
  0%   {transform: rotate(0deg);}
  50% {transform: rotate(20deg);}
  100% {transform: rotate(0deg);}
}
/* plant end*/



  .button1{
    width: 100px;
    height: 65px;
    float: left; 
    margin-left: 30px; 
    margin-top: 90px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-family: 'Montserrat', sans-serif;
  }
  .button2{
    width: 100px;
    height: 65px;
    float: left; 
    margin-left: 30px; 
    margin-top: 90px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-family: 'Montserrat', sans-serif;
    
  }
  .button3{
    width: 100px;
    height: 65px;
    float: left; 
    margin-left: 30px; 
    margin-top: 90px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-family: 'Montserrat', sans-serif;
  }
  .button4{
    width: 100px;
    height: 65px;
    float: right;  
    margin-right: 30px;
    margin-top: 90px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-family: 'Montserrat', sans-serif;
  }
  .button5{
    width: 100px;
    height: 65px;
    float: right;  
    margin-right: 30px;
    margin-top: 90px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-family: 'Montserrat', sans-serif;
  }
  .button6{
    width: 100px;
    height: 65px;
    float: right;  
    margin-right: 30px;
    margin-top: 90px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    font-family: 'Montserrat', sans-serif;
  }

  .button1 {
    letter-spacing: 0;
  }
  
  .button1:hover,
  .button1:active {
    letter-spacing: 5px;
  }
  
  .button1:after,
  .button1:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
  }
  
  .button1:hover:after,
  .button1:hover:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
  
  .button1:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
  
.button2 {
  letter-spacing: 0;
}

.button2:hover,
.button2:active {
  letter-spacing: 5px;
}

.button2:after,
.button2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button2:hover:after,
.button2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}


.button3 {
  letter-spacing: 0;
}

.button3:hover,
.button3:active {
  letter-spacing: 5px;
}

.button3:after,
.button3:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button3:hover:after,
.button3:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button3:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}


.button4 {
  letter-spacing: 0;
}

.button4:hover,
.button4:active {
  letter-spacing: 5px;
}

.button4:after,
.button4:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button4:hover:after,
.button4:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button4:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button5 {
  letter-spacing: 0;
}

.button5:hover,
.button5:active {
  letter-spacing: 5px;
}

.button5:after,
.button5:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button5:hover:after,
.button5:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button5:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button6 {
  letter-spacing: 0;
}

.button6:hover,
.button6:active {
  letter-spacing: 5px;
}

.button6:after,
.button6:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button6:hover:after,
.button6:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button6:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
  

  .slideshow{
    width: 650px;
    height: 300px;
    margin-left: 230px;
    margin-top: 250px; 
    position: relative; z-index: 1;
  }


  .left-text-box{
    border:1px solid #000;
    float: left;
    position: absolute;
  }
  .right-text-box{
    border:1px solid #000;
    float: right;
    position: absolute;
  }

  .bigdotleft {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 70px;
    float: left;
    margin-right: 500px;
    margin-left: 40px;
  }
  .bigdotright {
    height: 75px;
    width: 75px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 70px;
    float: right;
    margin-left: 500px;
    margin-right: 40px;
  }

  .burger-picture {
    width:400px;
    height:530px;
    margin-left: 350px;
    margin-top: 15px;
    position: relative; z-index: 1;
    margin-bottom: 150px;
}

.bottomdot3{
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}
.bottomdot4{
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}

hr{
  margin-top: 700px;
  width: 1095px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  float: right;
  margin-top: 55px;
  margin-right: 20px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  transform: translateY(-4px);
    transition:0.3s;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


.wordCarousel {
  font-size: 60px;
  font-weight: 100;
  color: #000000;
  text-align: center;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  height: 65px;
  margin-right: 40px;
}
.wordCarousel div li {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}
.wordCarousel li:nth-child(1){
  color: yellow;
}
.wordCarousel li:nth-child(2){
  color: red;
}
.wordCarousel li:nth-child(3){
  color: blue;
}
.wordCarousel li:nth-child(4){
  color: violet;
}

.flip2 {
          animation: flip2 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
          animation: flip3 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
          animation: flip4 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/* start burger */

.container > *, .container > *:after, .container > *:before{
  position: absolute;
  
}
.container > *:after, .container > *:before {
  content:'';
}
.container {
  position: relative;
  bottom: 830px;
  right: 650px;
  width: 0%;
  height: 0%;
  margin: auto;
}
.bread{
  width: 200px;
  height: 65px;
  top: 860px;
  left: 560px;
  background: #df7b30;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.bread:after{
  width: 100%;
  height: 30px;
  top: 530px;
  background: #df7b30;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.sesame{
  width: 100%;
  height: 100%;
  background-image:radial-gradient(#f3d9b1 5%, transparent 6%),
  radial-gradient(#f3d9b1 5%, transparent 6%);
  background-size: 40px 30px;
  background-position: 10px 0px, 30px 15px;
}
.meat{
  width: 170px;
  height: 25px;
  top: 1280px;
  left: 575px;
  background: #492f16;
  border-radius: 50px;
}
.lettuce{
  width: 150px;
  height: 25px;
  top: 1190px;
  left: 585px;
  background: #88b538;
  border-radius: 50px;
}
.cheese{
  width: 170px;
  height: 25px;
  top: 1090px;
  left: 575px;
  background: #e6af00;
  border-radius: 50px;
}
.melting-cheese{
  width: 15px;
  height: 50px;
  background: #e6af00;
  top: 1090px;
  left: 640px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.melting-cheese:after{
  width: 100%;
  height: 150%;
  background: #e6af00;
  left: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.onion{
  width: 170px;
  height: 25px;
  top: 990px;
  left: 575px;
  background: #822e81;
  border-radius: 50px;
}
.onion:before{
  width: 13%;
  height: 100%;
  left: 30px;
  background: #fff;
  opacity: 0.4;
}
.onion:after{
  width: 13%;
  height: 100%;
  left: 80px;
  background: #fff;
  opacity: 0.4;
}
/* end burger*/

.box {
  width: 25%;
  min-width: 250px;
  display: block;
  height: 50px;
  position: relative;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #abbd73), to(#d6e2ad));
  background: linear-gradient(to right, #abbd73 35%, #d6e2ad 100%);
  margin-bottom: 40px;
  padding: 15px 25px 0 40px;
  color: darkslategray;
  box-shadow: 1px 2px 1px -1px #777;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.shadow {
  position: relative;
}
.shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 75%;
  top: 0;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.box:hover {
  background: -webkit-gradient(linear, left top, right top, from(#abbd73), to(#abbd73));
  background: linear-gradient(to right, #abbd73 0%, #abbd73 100%);
}

.shadow:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: 14px;
  left: 15px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5), inset 0 0 0 25px antiquewhite;
  width: 20px;
  height: 20px;
  display: inline-block;
}
